@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary: #6246ea;
  --accent: #d11818;
  --light: #fffffe;
  --dark: #2b2c34;

  --primary-shadow: #5a40df;
  --light-shadow: #2b2c34;

  --primary-translucent: #f7f8ff;
  --accent-translucent: #df2b2b;
}

body,
html {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background: var(--light);
  color: var(--dark);
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  width: 70vw;
  margin: 0px auto;
  padding: 0px 15px;
}

nav {
  width: 100vw;
  height: auto;
}

nav div {
  display: flex;
  align-items: center;
}

nav .logo {
  width: auto;
}

nav .logo img {
  width: 32px;
  padding: 7px 0px;
}

nav .menu {
  width: 100%;
}

nav .menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

footer nav .menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav .menu ul li {
  padding: 7px 9px;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

nav .menu ul li a {
  text-decoration: none;
  color: black;
}

nav .menu ul li a:hover {
  color: var(--accent);
}

.btn {
  padding: 5px 17px;
  border-radius: 3px;
  margin-right: 7px;
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;
  width: max-content;
}

.btn-primary {
  background: var(--primary);
  color: var(--light);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  background: var(--primary-shadow);
  border: 1px solid var(--primary-shadow);
}

.btn-secondary {
  background: var(--light);
  border: 1px solid var(--dark);
  color: var(--dark);
}

.btn-secondary:hover {
  background: var(--light-shadow);
  color: var(--light);
}

header,
section#contact {
  width: 100vw;
  min-height: 60vh;
  height: auto;
  display: flex;
  align-items: center;
}

section#contact {
  min-height: 40vh;
}

h1,
h2,
p {
  margin: 5px 0px;
}

header h1.name {
  font-size: 3.1415rem;
}

header p.description {
  font-size: 1.05rem;
  padding-left: 4px;
  line-height: 25px;
  width: 70%;
}

header .ctas {
  margin: 21px 0px;
}

h2.heading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.banner {
  width: 100vw;
  height: auto;
  padding: 31px 0px;
  background: var(--primary-translucent);
  margin-bottom: 25px;
}

ul.skills {
  list-style: none;
  margin: 5px 0px;
  margin-top: 15px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

ul.skills li {
  padding: 6px 13px;
  margin: 4px;
  border-radius: 3px;
  background: var(--accent-translucent);
  color: var(--light);
  font-size: 0.8rem;
  letter-spacing: 1px;
  box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.4);
}

ul.skills li.lang {
  background: var(--primary);
  color: var(--light);
}

ul.skills li.library {
  background: var(--accent-translucent);
  color: var(--light);
}

ul.skills li.tool {
  background: var(--dark);
  color: var(--light);
}

.experience_holder {
  width: 48%;
  margin: 11px 0px;
}

.experience_holder:nth-child(2n-1) {
  margin-right: 2%;
}

.experience_holder span.period,
.experience_holder .card p.location {
  font-size: 0.83rem;
}

.experience_holder .card {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 23px;
  margin: 9px 0px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 13px -3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.experience_holder .card h3 {
  margin: 0px;
  padding: 7px 0px;
  padding-top: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

p.description {
  font-size: 0.9rem;
  line-height: 20px;
}

.line-3 {
  height: 80px;
  overflow: hidden;
}
section#contact form {
  display: flex;
  flex-direction: column;
  padding: 69px 20%;
}

section#contact form label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 7px;
}

section#contact form input,
section#contact form textarea {
  padding: 13px;
}

@media (max-width: 576px) {
  .container {
    width: 90vw;
  }

  header {
    padding: 31px 0px;
  }

  header h1.name {
    font-size: 2.8rem;
  }

  .experience_holder {
    width: 100%;
  }

  .experience_holder:nth-child(2n-1) {
    margin-right: 0px;
  }
  section#contact form {
    padding: 0px;
  }

  header p.description {
    width: 100%;
  }
}
